// ==== Jumpbotron CSS Start ====

#jumpbotron {
  padding: 60px 0;
  padding-top: 0;
  .jumpbotron-img {
    position: relative;
    .jump-1 {
      position: absolute;
      width: 150px;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 150px;
    }
    .jump-2 {
      position: absolute;
      height: 140%;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
    }
  }
}

// ==== Jumpbotron CSS End ====
